<%= simple_form_for @order do |f| %>
  <h3> 您的餐點 </h3>
  <div id='fooditems'>
    <%= f.simple_fields_for :fooditems do |fooditem| %>
      <%= render 'fooditem_fields', :f => fooditem %>
    <% end %>
  </div>

  <br>
  <div class="well">
    <h3>訂單資訊</h3>
    <%= f.input :name, label: '取餐人', hint: '請避免使用容易重複的暱稱' %>
    <%= f.input :location_id, label: '取餐地點', as: :select, collection: Location.all, value: :id,:include_blank => false, hint:'請選擇中午時離您最近的地點' %>
    <%= f.input :description, label: '提醒', hint: '需要找零、不加辛香料...等等' %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
  <div class='links'>
    <%= link_to_add_association '加入餐點', f, :fooditems, class:'btn btn-default btn-lg', id:'add_fooditem_btn' %>
  </div>
<% end %>