        <%# comment do %>
<%= simple_form_for(@fooditem, url: fooditems_path(order_id: @order.id), method: :post) do |q| %>
  <tr>
    <td><%= q.input :restaurant_id, as: :select, collection: Restaurant.all, label: false, :include_blank => '選擇餐廳' %></td>
    <!-- TODO: display name -->
    <td><%= q.input :food_id, as: :select, collection: Food.all, label: false, :include_blank => '選擇餐點' %></td>
    <td><%= q.input :quantity, label: false %></td>
    <td>
      <% if q.object.persisted? %>
        <%= q.check_box :_destroy %>
        <%= q.label :_destroy, "Destroy" %>
      <% end %>
    </td>
    <td>
      <%= q.submit 'Sure' %>
    </td>
  </tr>
<% end %>
        <%# end %>