<%= simple_form_for @order do |f| %>
  <h3> 您的餐點 </h3>
  <div id='fooditems'>
    <%= f.simple_fields_for :fooditems do |fooditem| %>
      <%= render 'fooditem_fields', :f => fooditem %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association '加入餐點', f, :fooditems, class:'btn btn-default btn-lg' %>
    </div>
  </div>
  <br>
  <div class="well">
    <h3>訂單資訊</h3>
    <%= f.input :location_id, label: '取餐地點', as: :select, collection: Location.all, value: :id,:include_blank => false  %>
    <%= f.input :description, label: '提醒', hint: '需要找零、不加辛香料...等等' %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>