<h2>Edit Order <%= @order.id %></h2>

<%= simple_form_for(@order, url: order_path, method: :patch) do |f| %>
  <%= f.input :location_id, as: :select, collection: Location.all, value: :id,:include_blank => false %>
  <%= f.input :description, html: { rows: 7 } %>
  <%= f.submit 'Update', class:'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th> Order Id </th>
      <th> Food </th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @order.food_orders.each do |food| %>
      <tr>
        <td> <%= food.order.id %> </td>
        <td> <%= food.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th> Restaurant </th>
      <th> Name </th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% Food.all.each do |food| %>
      <tr>
        <td> <%= food.restaurant.name %> </td>
        <td> <%= food.name %> </td>
        <td> <%= link_to('Add', add_food_item_path(@order.id, food.id), method: :post, class: "btn btn-success") %></td>
      </tr>
    <% end %>
  </tbody>
</table>