<h2>點餐號碼： <%= @order.id %> | 取餐地點： <%= @order.location.name %></h2>

<%= simple_form_for(setup_order(@order), url: order_path, method: :patch) do |f| %>
  <%#= f.input :location_id, as: :select, collection: Location.all, value: :id,:include_blank => false %>
  <%= f.input :description, html: { rows: 7 } %>
  <%= f.submit '預覽訂單', class:'btn btn-primary' %>
<% end %> <!-- simple_form end -->

<table class="table">
  <thead>
    <tr>
      <th> Restaurant </th>
      <th> Food Name </th>
      <th> Quantity </th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr id="fooditem-form"><%= render 'fooditems/form' %></tr>
    <tr id="fooditems"></tr>
    <tr><%= link_to 'New Item', new_fooditem_path(order_id: @order.id), remote: true %></tr>
  </tbody>
</table>
