<div class="col-md-12">

  <h2 class="text-center"> All Orders </h2>

  <% if @orders.exists? %>
  
    <table class="table">
      <thead>
        <tr>
          <th> Name </th>
          <th> User </th>
          <th> Location </th>
          <th> Last Update </th>
          <th colspan="2"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td> <%= order.name %> </td>
            <td> <%= order.user %> </td>
            <td> <%= order.location_id %> </td>
            <td> <%= order.updated_at %> </td> 
            <td> <%= link_to('Edit', edit_order_path(order), class: "btn btn-info") %></td>
            <td> <%= link_to('Delete', order_path(order), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p>There is no order yet.<%= link_to 'Create now?', new_admin_order_path %></p>
  <% end %>
</div>