<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/orders">Come2eat</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class= "<%= 'active' if params[:mode].nil? %>">
        <%= link_to '所有訂單', admin_orders_path %>
        </li>
        <li class= "<%= 'active' if params[:mode] == 'restaurants' %>">
        <%= link_to '各店家', admin_orders_path(mode: 'restaurants') %>
        </li>
        <li class= "<%= 'active' if params[:mode] == 'locations' %>">
        <%= link_to '各取餐地點', admin_orders_path(mode: 'locations') %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_admin.blank? %>
          <li><%= link_to("Sign Up", new_admin_registration_path) %></li>
          <li><%= link_to("Log In", new_admin_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_admin.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to("帳號設定", edit_admin_registration_path )%></li>
              <li> <%= link_to("登出", destroy_admin_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>