<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <title>Restaurant | Come2eat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container restaurant">
    <div class="row">
      <%#= render "common/restaurant/navbar" %>
      <%#= notice_message %>

      <%= yield %>

      <%= render "common/restaurant/footer" %>
    </div>
  </div>
</body>
</html>
