<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <title>Come2eat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">

      <%= render "common/navbar" %>
      <%= notice_message %>

      <div class="col offset-l3 l6 m6 offset-s2 s8">
        <%= yield %>
      </div>

      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%#= render "common/footer" %>
      </div> -->

    </div>

    <%# console %>
    
  </div>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '161214564269396',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :custom_js %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>
